.container {
  border: 2px solid black;
  border-radius: 0.3rem;
  width: 100rem;
  height: calc(100vh - 2rem);
  min-height: fit-content;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;

  header {
    font-size: xx-large;
    font-weight: bolder;
  }

  main {
    display: flex;
    flex: 1 1 auto;

    & > *:first-child {
      flex: 2 2 auto;
    }

    & > *:last-child {
      flex: 1 1 auto;
    }
  }
}
