.player {
  display: flex;
  flex-direction: column;
}

.stats {
  display: flex;
  flex: 1 1 auto;
  padding: 0 0.5rem;

  & > div {
    border: 1px solid black;
    flex: 1 1 auto;
    margin: 0 0.5rem;
  }
}

.bag {
  display: grid;
  flex: 3 3 auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.7fr 1.3fr;
  gap: 1rem 1rem;
  grid-template-areas: "pmagic pgold" "pspells pitems";
  padding: 1rem;

  .magic { grid-area: pmagic; }
  .gold { grid-area: pgold; }
  .spells { grid-area: pspells; }
  .items { grid-area: pitems; }

  &.no-magic {
    display: flex;
    flex-direction: column;

    .gold {
      flex: 0.7;
      margin-bottom: 1rem;
    }

    .items {
      flex: 1.3;
    }
  }

  & > div {
    border: 1px solid black;
  }
}
